<!DOCTYPE html>
<html>
    <head>
          <title>top</title>
    </head>
    <body>
     this is <font color='red'>top.html.erb</font><br>
     <%= link_to '掲示板', '/boards/top' %></br>
     <%= link_to 'アカウント作成', '/vote/new' %><br>
     <%= link_to 'ログイン', '/login' %></br>
     <%= link_to 'メンバー一覧', 'vote/index'%></br>
    </body>

</html>
